header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    text-align: center;
}

@keyframes scroll {
    0% { transform: translateY(0); opacity: 0; }
    33% { transform: translateY(-100%); opacity: 0; }
    34% { transform: translateY(100%); opacity: 0; }
    67% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(100%); opacity: 0; }
  }
  
  .header__title {
    position: relative;
    height: 30px; 
    overflow: hidden;
    padding-left: 42%;
  }
  
  .header__title h3 {
    position: absolute;
    animation: scroll 9s infinite;
  }
  
  .header__title h3:nth-child(2) {
    animation-delay: 3s;
  }
  
  .header__title h3:nth-child(3) {
    animation-delay: 6s;
  }
  

.header__conatainer{
    text-align: center;
    height: 100%;
    position: relative;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.4rem;
    justify-content: center;
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 1;
    bottom: 0;
}

.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me{
    background:linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 23rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.me_img{
    border-radius: 10rem 10rem 0 0;
    /* width: 300px; */

}

.scroll__down{
    position: absolute;
    right: 10rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* responsiveness */

@media screen and (max-width:1024px){
header{
    height: 68vh;
}
.header__socials{
    bottom:27rem ;
}
.scroll__down{
    right: 4rem;
    bottom: 30rem;
}
}

@media screen and (max-width:600px){
header{
    height: 100vh;
}
.header__socials,
.scroll__down{
    display: none;
}
}