.top-container{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    font-size: 1.5rem;
}

.home{
    background: maroon;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}
.about{
    background: maroon;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}
.resume{
    background: maroon;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}
.contact-info{
    background: maroon;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}
.projects{
    background: maroon;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}
