.top-container{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
.home{
    background: bisque;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}
.about{
    background: bisque;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}
.resume{
    background: bisque;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}
.contact-info{
    background: bisque;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}
.projects{
    background: bisque;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}
